

  /* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    z-index:1; /*Add this*/
    left: 0;
    width: 100%;
    height: 80px; /* Altura fija de la barra de navegación */
    background-color: #605CA8;
    color: #fff;
    
    /* Estilos adicionales */
  }
  
/* NavbarStyles.css */

.nav-container {
  display: flex; /* Hace que los elementos se ordenen en fila */
  justify-content: space-between; /* Coloca espacio entre los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.LeftNav {
  display: flex; /* Hace que los elementos dentro de LeftNav y RightNav se ordenen en fila */
  align-items: center; /* Centra verticalmente los elementos dentro de LeftNav y RightNav */
  height: 100%;
  width: 250px;
  background-color: #555299;
}

p{
  font-size: 16px;
  font-weight: bold;
}

/* Ajusta los estilos según sea necesario */
.logo {
  width: 60px;
  height: auto;
  padding: 10px;
}

.logoMon{
  width: 160px;
  height: auto;
  padding: 10px;
}

.actionButton{
  position: absolute;
  left: 250px;
  top: -5px;
  width: 35px;
  height: 30px;
  border-radius: 5px;
  background-color:#605CA8;
  background-image: url('boton_sidebar.png');
  transition: 0.2s;
}

.actionButton:hover{
  background-color:#706db1;
  transform: scale(1.1);
}
