:root{
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
}

/* CSS específico para Safari para evitar el comportamiento elástico */
@media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) {
    /* Estilos solo para Safari */
    html, body {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
  }}
  
  