body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  form{
    
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #guaren{
    background-size: cover;
    margin-bottom: 100px;
    margin-right: 200px;
    height: 600px;
    position: absolute;
    width: 100%;
    z-index: -1; /* Coloca la imagen detrás del contenido */
  }

  .login-container {
    position: relative;
    margin-top: 280px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 300px;
  }
  
  .login-container input {
    display: block;
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    margin-left: 16%;
    margin-bottom: 26px;
  }

  .login-container label{
    display: block;
    margin-bottom: 5px;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    margin-left: 16%;
  }
  
  .login-container input::spaceholder{
    position: absolute;
    
  }

  .login-container input {
    width: 60%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #000000;
    position: relative;
    font-size: 13px;
  }

  .login-container input:focus::placeholder {
    display: none; /* Oculta el marcador de posición cuando el campo está enfocado */
  }

  .login-container input::placeholder {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 5px;
    color: #D9D9D9;
    font-size: 13px;
  }

  .login-container button {
    background-color: #006955;
    color: white;
    border: none;
    width: 68%;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15%;
    
  }

  .forgot-password-link {
    color: black; /* Color de texto en negro */
    text-decoration: none; /* Elimina el subrayado */
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    margin-left: 20%;
    margin-top: 10px;
  }