
form{
    font-family: Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
  }

/* Login_form.css */

.form-container {
    position: relative;
    margin-top: 280px;
    margin-left: 480px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 300px;
  }
  
  /* Resto de tus estilos */
  

  .input {
    display: block;
    margin-bottom: 10px;
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    margin-left: 16%;
    margin-bottom: 26px;
    font-family: Arial, sans-serif;
  }

  .label{
    display: block;
    margin-bottom: 5px;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    margin-left: 16%;
    color: #000000;
    font-family: Arial, sans-serif;
  }
  
  .input::spaceholder{
    position: absolute;
    
  }

  .input {
    width: 60%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #000000;
    position: relative;
    font-size: 13px;
    font-family: Arial, sans-serif;
  }

  .input:focus::placeholder {
    font-family: Arial, sans-serif;
    display: none; /* Oculta el marcador de posición cuando el campo está enfocado */
  }

  .input::placeholder {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0 5px;
    color: #D9D9D9;
    font-size: 13px;
    font-family: Arial, sans-serif;
  }

  .button {
    background-color: #006955;
    color: white;
    border: none;
    width: 68%;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 15%;
    font-family: Arial, sans-serif;
    
  }

  .forgot-password-link {
    color: black; /* Color de texto en negro */
    text-decoration: none; /* Elimina el subrayado */
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    margin-left: 20%;
    margin-top: 10px;
    font-family: Arial, sans-serif;
  }