

  /* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Altura fija de la barra de navegación */
    background-color: #006955;
    color: #fff;
    /* Estilos adicionales */
  }
  
  

nav ul {
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

